# Нам не нужны .o и .a файлы
*.[oa]

# В репозитарии нам не нужны сгенерированные MOC и ресурсные файлы
moc_*.cpp
qrc_*.cpp
ui_*.h

# Построенные exe-шники и линукс-бинарники
*.exe
ECGKW
ECGKW.pro.user

# Генерируемые Windows гадости
Thumbs.db
desktop.ini
